<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-item {
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 15px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
  }

  /* Información del producto */
  .product-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }

  .product-item p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .product-item 
  .product-image {
    width: 300px;
    height: 200px
  }

  /* Precio */
  .price {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
  }

  /* Botón */
  .product-item button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .product-item button:hover {
    background-color: #e69500;
  }
</style>

<div id="products">
 <div style="
    max-width: 1200px;
    padding: 20px 20px 0 120px;
    align-item: center;
    display: flex;
    justify-content: space-between;">
  <h1 style="
    text-align: left;
    flex-wrap: wrap;"
  >Products
  </h1>
  
  <% if Current.user %>
    <h3>
      <%= link_to  "<button>NewProduct</button>".html_safe, new_product_path, id: "NewProduct"%>
    </h3>
  <% else %>
    
  <% end %>
  
 </div>
<hr style="
  border: none;
  border-top: 1px solid #d3d3d3; 
  opacity: 0.5; 
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1200px"
>
  <div id="products">
    <div class="container">
      
        <%= render 'products', products: @products%>

    </div>
</div>